.DS_Store
node_modules/
/dist/
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Editor directories and files
.idea
.vscode
*.suo
*.ntvs*
*.njsproj
*.sln


#使用git对项目进行版本控制
#1、生成本地仓库
# git init
# git add *
# git commit -m "init gshop"

# 2、创建远程仓库 去github上创建仓库

# 3、将本地仓库推送到远程仓库
# 先关联 git remote add origin https://github.com/xphello/gshop.git
# 再推送 git push origin master

