* {
    margin: 0;
    padding: 0;
    list-style: none;
}
body{
    font-size: 12px;
    box-sizing: border-box;
}

/* 显示省略号 */
.ellipsis{
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}